* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  margin-top: 30px;
}

.items {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
}

.items div {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 40px;
}

.items div h3 {
  text-align: center;
  margin-bottom: 20px;
}

.items div h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}